:root {
  --primary-tex-color--: #757575;
  --title-tex-color--: #212121;
  --accent-tex-color--: #2196f3;
  --White-color--: #ffffff;
}
body {
  color: #757575;
  background-color: #e5e5e5;
}

/* навигация */
ul {
  list-style: none;
}

.web {
  color: var(--accent-tex-color--);
}
.studio-head {
  color: var(--title-tex-color--);
}
.studio-foot {
  color: var(--White-color--);
}
.link {
  color: var(--title-tex-color--);
}
.site-nav :hover,
.site-nav :focus {
  color: var(--accent-tex-color--);
}
.contact-nav :hover,
.contact-nav :focus {
  color: var(--accent-tex-color--);
}
.site-nav .link.current {
  color: var(--accent-tex-color--);
}

.link .current {
  color: var(--primary-tex-color--);
}
.contact {
  color: var(--White-color--);
}
.contact:hover,
.contact:focus {
  color: var(--accent-tex-color--);
}

.section-title {
  color: var(--title-tex-color--);
}
.title {
  color: var(--primary-tex-color--);
}
/* Герой */
.hero,
.footer {
  color: var(--White-color--);
  background-color: #2f303a;
}

.hero-title {
  color: var(--White-color--);
}

.button {
  color: var(--White-color--);
  background-color: var(--accent-tex-color--);
}
.button-primary {
  background-color: #f5f4fa;
}
.button-primary:hover,
.button-primary:focus {
  background-color: var(--accent-tex-color--);
}
