:root {
  --primary-tex-color--: #757575;
  --title-tex-color--: #212121;
  --accent-tex-color--: #2196f3;
  --White-color--: #ffffff;
}
body {
  color: #757575;
  background-color: #e5e5e5;

  font-family: Roboto, sans-serif;
}
main {
  background-color: #e5e5e5;
}
/* Шапка */
ul {
  list-style: none;
}
/* Лого */
.logo {
  font-family: Releway;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.web {
  color: var(--accent-tex-color--);
}
.studio-head {
  color: var(--title-tex-color--);
}

/* Навигация сайта */
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.link {
  color: var(--title-tex-color--);
}
.site-nav :hover,
.site-nav :focus {
  color: var(--accent-tex-color--);
}
.contact-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.contact-nav :hover,
.contact-nav :focus {
  color: var(--accent-tex-color--);
}
.site-nav .link.current {
  color: var(--accent-tex-color--);
}

.link .current {
  color: var(--primary-tex-color--);
}
.contact {
  color: var(--White-color--);
}
.contact:hover,
.contact:focus {
  color: var(--accent-tex-color--);
}

/* Герой */
.hero-title {
  color: var(--White-color--);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button {
  color: var(--White-color--);
  background-color: var(--accent-tex-color--);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--accent-tex-color--);
}
.hero,
.footer {
  color: var(--White-color--);
  background-color: #2f303a;
}

/* Особенности */
.section-title {
  color: var(--title-tex-color--);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.title {
  color: var(--primary-tex-color--);
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}
/* Чем мы занимаемся */
.study,
.team {
  color: var(--title-tex-color--);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Наша команда */
.name {
  color: var(--title-tex-color--);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.foto {
  text-align: center;
}
.work {
  color: var(--primary-tex-color--);
}

/* Футер */
.studio-foot {
  color: var(--White-color--);
}
/* Портфолио */

/* .filters {
  background-color: #f5f4fa;
} */
.lable {
  color: var(--title-tex-color--);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filter-lable {
  color: var(--primary-tex-color--);

  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
}
