:root {
  --primary-tex-color--: #757575;
  --title-tex-color--: #212121;
  --accent-tex-color--: #2196f3;
  --White-color--: #ffffff;
}
body {
  color: #757575;
  background-color: #e5e5e5;
}

/* навигация */
ul {
  list-style: none;
}

.web {
  color: var(--accent-tex-color--);
}
.studio-head {
  color: var(--title-tex-color--);
}
.link {
  color: var(--title-tex-color--);
}
.site-nav :hover,
.site-nav :focus {
  color: var(--accent-tex-color--);
}
.auth-nav :hover,
.auth-nav :focus {
  color: var(--accent-tex-color--);
}
.mailto-nav,
.tel-nav {
  color: var(--primary-tex-color--);
}

.section-title {
  color: var(--title-tex-color--);
}
.title {
  color: var(--primary-tex-color--);
}
/* Герой */
.hero,
.footer {
  background-color: #2f303a;
}

.hero-title {
  color: var(--White-color--);
}

.studio-foot {
  color: var(--White-color--);
}
.footer address {
  color: var(--White-color--);
}
.mailto-foot,
.tel-foot {
  color: white;
}
.portfolio-nav {
  background-color: #f5f4fa;
}
.button {
  color: var(--White-color--);
  background-color: var(--accent-tex-color--);
}
.button,
.portfolio-nav:hover {
  background-color: var(--accent-tex-color--);
}
.button,
.portfolio-nav:focus {
  background-color: var(--accent-tex-color--);
}
